html, body{
	height: 100%;
	margin: 0px;
}
#mapa{
    margin: 0px;
    float:left;
    width: 82%;
    min-height: 100%;
    /*border: 1px solid black;*/
}
#barraLateral{
    margin: 0px;
    float:left;
    background-color: black;
    width: 18%;
    min-height: 100%;
}