<div id="wrapper-meus-servicos">
	<h1>Meus Servicos</h1>
	<div class='filtro-servicos'>
		<button>EM ABERTO</button>
		<button>ENCERRADO</button>
		<button>SUSPENSO</button>
	</div>
	<hr>
	<div id='servicos'>
	</div>
	<!-- <div id='buttonsTIAO'>																		-->
	<!--	<button id="mapa-retornar" onclick='retornar()' type="button">RETORNAR AO MAPA</button>	S-->
 	<!--   	<button type="button" onclick="alert('Já sabe né?')">EDITAR PERFIL</button>				-->
	<!-- </div>																					 	-->
</div>