<div id="wrapper-meus-servicos" class="wrapper_janela">
	<h1>Meus Serviços</h1>
	<!-- FILTRO ------------------------------------------------------------------------------------------ -->
	<div class='fiter_tags'>
		<button>EM ABERTO</button>
		<button>ENCERRADO</button>
		<button>SUSPENSO</button>
	</div>
	<hr>
	<!-- RESULTADOS -------------------------------------------------------------------------------------- -->
	<div id='servicos'></div>
	<!-- CONTROLES UX ------------------------------------------------------------------------------------ -->
	<div class='buttons_bugados'>
		<button onclick="retornar()" >RETORNAR AO MAPA</button>
	</div>																			 	
</div>