<div id="wrapper-solicitacoes" class="wrapper_janela">
    <h1>SOLICITAÇÕES</h1>
	<!-- FILTRO ------------------------------------------------------------------------------------------ -->
	<div class="fiter_tags">
		<button>ENVIADAS</button>
		<button>RECEBIDAS</button>
	</div>
	<hr>
	<!-- RESULTADOS -------------------------------------------------------------------------------------- -->
	<div id='solicitacoes'></div>
	<!-- CONTROLES UX ------------------------------------------------------------------------------------ -->
	<div class='buttons_bugados'>
		<button onclick="retornar()" >RETORNAR AO MAPA</button>
	</div>
</div>