<div id="wrapper-solicitacoes">
    <h1>Solicitações</h1>
	<!-- RESULTADOS -------------------------------------------------------------------------------------- -->
	<div id='servicos'>
    	<div class='item_solicitacao'>
    		<div class='imagem_solicitacao'></div>
    		<div class='info_solicitacao'>
    			<strong>Torneira Quebrada</strong>  
    			<p>São Vicente, SP</p>
    			<p>De: Ayrton Felipe</p>
    		</div>
    		<div class="buttons_solicitacao">
                <button>ACEITAR</button>
                <button>RECUSAR</button>
            </div>
    	</div>
    </div>
</div>