<!DOCTYPE html>
<html>
    <head>
    </head>   
    <body>
        <div id='login'>
            <form action='' method='POST' id='form_login'>
                <label for="login">LOGIN:
                    <input type="text" name="login" class="input" id="input_login"/>
                </label>
                <label for="senha">SENHA:
                    <input type="psw" name="senha" class="input" id="input_senha"/>
                </label>
                <label for="submit">
                    <input name="enviar" type="submit"  value="Submit"/>    
                </label>
            </form>
        </div>
    </body>
</html>